@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: PersianFont;
  src: url(../fonts/iranSans/IRANSansWeb.woff) format("woff");
}

* {
  box-sizing: border-box;
  font-family: PersianFont;
}
